<div class="col-md-3" >
<div class="list-item">
    <div class="list-thumb">
      <div class="title">
        <h4><%= fruit.name.camelize %></h4>
      </div>
      <img src=<%= "images/" + fruit.name + ".jpg" %> alt=<%= fruit.name %> height="220px">
    </div>

    <div class="list-content">
      <a href="#" class="price-btn">₹. <%= fruit.price %></a>
    </div>
</div>
</div>