<div class="col-md-3">
    <div class="thumbnail">
      <img src=<%= "images/" + fruit.name + ".jpg" %> alt=<%= fruit.name %> height="300" width="221" >
      <div class="caption">
        <h3><%= fruit.name.camelize %></h3>
        <p>Rs. <%= fruit.price %></p>
        <p><center><a href="#" class="btn btn-primary" role="button" width="400">Add To Cart</a></center>
      </div>
    </div>
</div>
