<center><h1><u> List of available fruits </u></h1></center><br>

<% @fruits.each do |fruit| %>
<%= render(:partial => "fruit", :locals => {:fruit => fruit})%>
<% end %>

<center><h1> The End </h1></center>