<% @page_title = "Home" %>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "fruit_template" %>
  </head>

  <body>

	<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
		<div class="row" >
			<%= render( :partial => "fruit", :collection => @fruits, :as => :fruit) %>
		</div>
	</div>

	</body>
</html>